.parent-div {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 50px;
  /* width: 100vw; */
}

.child-div {
  width: 300px;
  height: 200px;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

#no-styling {
  all: unset;
}

#border-basic {
  all: unset;
  border: 2px solid;
  width: fit-content;
}

#width-100 {
  width: 100px;
}

/* px in cm mm  */
/* vh vw % em */

#height-100 {
  height: 100px;
}


#border-wide {
  border: 10px solid;
}

#border-radius {
  border-radius: 20px;
}

#border-elipse {
  border-radius: 50%;
}

#bgcol-pink {
  background-color: pink;
}

#border-all {

  border-width: 2px 4px 8px 16px;
  border-color: pink green red blue;
  border-style: dashed double outset ridge;
}

#shadow-basic {
  box-shadow: 0px 0px 10px 5px #000;
}

#font-props {
  font: italic small-caps bold 15px/20px Georgia, serif;
}

#text-shadow {
  font-size: 13px;
  text-shadow: 0 0 5px red;
}

#overflow {
  display: unset;
  overflow: hidden;
}

#overflow-scroll {
  display: unset;
  overflow: scroll;
}

#overflow-visible {
  display: unset;
  overflow: visible;
}

#cursors {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
}

.c {
  border: 2px solid black;
  height: 90px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#none{
    cursor: none;
}
#default{
    cursor: default;
}

#pointer{
    cursor: pointer;
}

header{
    width: 100%;
    margin-top: 50px;
    border: 2px solid black;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    background-color: wheat;
}

#max-min{
    max-width: 1100px;
    width: 90%;
    border: 2px solid black;
    min-width: 750px;
}

#padding{
    width: 90vw;
    height: 200px;
    padding: 10px;
    background-color: aqua;
    margin-top: 40px;
}
#padding-child{
    border: 2px solid black;
    background-color: #fff;
    
}

#bgcol-aqua{
    background-color: #fff;
}

#gradient{
    background-image: linear-gradient(120deg, pink, aqua);
}

#c-gradient{
    background-image: conic-gradient(red, aqua);
}

#r-gradient{
    background-image: radial-gradient(red, aqua);
}

#image{
    background-image: url("https://image.shutterstock.com/image-photo/old-brick-black-color-wall-260nw-1605128917.jpg");
    color: white;
    background-repeat: repeat;
    /* width: 1500px; */
}

#image-opacity{
    background-image: url("https://image.shutterstock.com/image-photo/old-brick-black-color-wall-260nw-1605128917.jpg");
    color: white;
    opacity: 75%;
}

.mock{
    width: 90vw;
    height: 90vh;
    border: 2px solid ;
    margin: 10px auto 10px auto;
}

.relative{
    position: relative;
}

.mock-child{
    border: 2px solid red;
    height: 100px;
    width: 200px;
}

#abs{
    position: absolute;
    bottom: 100px;
    right: 30px;
}

#fixed{
    /* position: fixed; */
    top: 100px;
    left: 100px;
}

#sticky{
    position: sticky;
    top: 100px;
    left: 100px;
}

#before::before{
    content: "before";
    background-color: aqua;
    border: 2px solid red;
}

#after::after{
    content: "after";
    background-color: aqua;
    border: 2px solid red;
}
#fl span::first-letter{
    font-size: 50px;
}

.pseudo-button{
    width: 100px;
    height: 50px;
}

.pseudo-button:hover{
    cursor: pointer;
    width: 200px;
    background-color: aquamarine;
}

.pseudo-button:active{
    width: 150px;
    background-color: bisque;
}

.focus-child{
    width: 100px;
    height: 40px;
}

.focus-child:focus{
    background-color: rgb(245, 147, 147);
}

#nth-child{
    display: unset;
    padding-left: 10px;
}

p{
    line-height: 5px;
}

#nth-child p:nth-child(even){ /* edit this */
    color: blue;
}